<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="myScript.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="root">
        <!-- WEB APP -->
        <div class="container">
            <div style="border: 1px solid gray;" class="row ae-mt-5vh">
                <!-- SIDE CONTACTS -->
                <section id="side-contacts" class="col-5 p-0 d-flex flex-column ae-90vh">
                    <!-- USER SECTION -->
                    <div class="p-2 d-flex justify-content-between align-items-center" style="background-color: #eaeaea">
                        <!-- NAME USER -->
                        <div class="d-flex align-items-center">
                            <img class=" rounded-5 img-fluid" src="img/avatar_io.jpg" alt="My Avatar">
                            <h6 class="ps-1 m-0">Sofia</h6>
                        </div>
                        <!-- / NAME USER -->
                        <!-- ICONS -->
                        <div class="d-flex">
                            <i class="px-1 bi bi-arrow-clockwise"></i>
                            <i class="px-1 bi bi-chat-left-fill"></i>
                            <i class="px-1 bi bi-three-dots-vertical"></i>
                        </div>
                        <!-- / ICONS -->
                    </div>
                    <!-- / USER SECTION -->
                    <!-- NOTIFICATION -->
                    <div class=" d-flex align-items-center p-3" style="background-color: #8edafc">
                        <i style="height: 2.5em; width: 2.5em; color: #8edafc; background-color: white;" class="bi bi-bell-slash-fill flex-shrink-0 ms-2 rounded-5 d-flex justify-content-center align-items-center"></i>
                        <div class="ms-2">
                            <h6 style="line-height: 0.7em;" class="m-0">Ricevi notifiche di nuovi messaggi</h6>
                            <a style="font-size: 0.8em" href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- / NOTIFICATION -->
                    <!-- SEARCH CONTACT -->
                    <div style="background-color: #f9f9f9" class="p-2">
                        <div class="input-group">
                            <span style="background-color: #f9f9f9" class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                            <input @keyUp="findContact" v-model="searchContactInput" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-describedby="basic-addon1">
                          </div>                          
                    </div>
                    <!-- / SEARCH CONTACT -->
                    <!-- LIST CONTACTS -->
                    <ul class="overflow-scroll list-group flex-grow-1 rounded-0">
                        <!-- CONTACT -->
                        <li role="button" @click="setActiveElement(index)" v-for="(contact, index) in contacts" :class="index === activeIndex ? 'ae-bg-activeElement' : ''" class="p-2 list-group-item rounded-0 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <figure class="m-0">
                                    <img class="img-fluid rounded-5" :src="`img/avatar${contact.avatar}.jpg`" alt="Contact Avatar">
                                </figure>
                                <figcaption class="ms-2 align-self-start">
                                    <h6 class="m-0">{{ contact.name }}</h6>
                                    <p style="font-size: 0.7em; color: #afafaf;" class="m-0">Ultimo messaggio inviato</p>
                                </figcaption>
                            </div>
                            <time class="align-self-start" style="font-size: 0.7em; color: #afafaf;">12:00</time></li>
                        <!-- / CONTACT -->
                    </ul>
                    <!-- LIST CONTACTS -->
                </section>
                <!-- / SIDE CONTACTS -->
                <!-- SIDE MESSAGE -->
                <aside class="col-7 p-0 bg-secondary d-flex flex-column ae-90vh">
                    <!-- PROFILE CONTACT -->
                    <div class="p-2 d-flex justify-content-between align-items-center" style="background-color: #eaeaea">
                        <!-- CONTACT NAME -->
                        <div class="d-flex align-items-center">
                            <img class="rounded-5 img-fluid" :src="`img/avatar${contacts[activeIndex].avatar}.jpg`" alt="Contact Avatar">
                            <h6 class="ps-1 m-0">{{ contacts[activeIndex].name }}</h6>
                        </div>
                        <!-- / CONTACT NAME -->
                        <!-- ICONS -->
                        <div class="d-flex">
                            <i class="px-1 bi bi-search"></i>
                            <i class="px-1 bi bi-paperclip"></i>
                            <i class="px-1 bi bi-three-dots-vertical"></i>
                        </div>
                        <!-- / ICONS -->
                    </div>
                    <!-- / PROFILE CONTACT -->
                    <!-- CONTACT CHAT -->
                    <div class="flex-grow-1 overflow-scroll p-5" style="background-image: url(img/mine.jpg);">
                        <!-- utilizzando il contatto attivo, si fa un ciclo sul singolo oggetto e si prendono i dati annidati -->
                        <div v-for="contactMessage in contacts[activeIndex].messages" class="my-2 row d-flex" :class="(contactMessage.status === 'received') ? 'justify-content-start' : 'justify-content-end'">
                            <div class="col-auto p-1 rounded-3 d-flex align-items-center justify-content-between" :class="(contactMessage.status === 'received') ? 'bg-light' : 'ae-bg-send-message'">
                                <p class="p-1 m-0">{{ contactMessage.message }}</p>
                                <time class="align-self-end ps-5" style="font-size: 0.5em; color: #afafaf;">12:30</time>
                            </div>
                        </div>
                        <!-- <div class="row my-2 d-flex justify-content-start">
                            <div class="col-auto p-1 rounded-3 d-flex align-items-center justify-content-between bg-light">
                                <p class="p-1 m-0">come stai?</p>
                                <time class="align-self-end ps-5" style="font-size: 0.5em; color: #afafaf;">12:30</time>
                            </div>
                        </div> -->
                    </div>
                    <!-- / CONTACT CHAT -->
                    <!-- TEXT AREA -->
                    <div class="p-2 d-flex justify-content-between align-items-center" style="background-color: #eaeaea">
                        <i class="px-3 bi bi-emoji-smile"></i>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Scrivi un messaggio">
                        </div>
                        <i class="px-3 bi bi-mic-fill"></i>
                    </div>
                    <!-- / TEXT AREA -->
                </aside>
                <!-- / SIDE MESSAGE -->
            </div>
        </div>
        <!-- / WEB APP -->
    </div>
</body>
</html>