/* WEB APP BASE LAYOUT */

.ae-90vh{

    height: 90vh !important;

}

.ae-mt-5vh{
    margin-top: 5vh !important;
}

/* / WEB APP BASE LAYOUT */


/* SIDE CONTACT */

i.px-1.bi{
    color: #b1b1b1 !important;
}

.container img{
    width: 2.5em !important;
}

/* / SIDE CONTACT */
