/* WEB APP BASE LAYOUT */

.ae-90vh{

    height: 90vh !important;

}

.ae-mt-5vh{
    margin-top: 5vh !important;
}

/* / WEB APP BASE LAYOUT */


/* SIDE CONTACT */

i.px-1.bi{
    color: #b1b1b1 !important;
}

.container img{
    width: 2.5em !important;
}

.ae-bg-activeElement{

    background-color: #e9ebeb !important;

}

/* / SIDE CONTACT */

.ae-bg-send-message{

    background-color: #d5f9ba;


}

.col-auto.p-1.rounded-3.d-flex.align-items-center:hover .btn.p-0.border-0{
    visibility: visible !important;
}

.ae-bg-send-message .dropdown-menu.top-100{
    right: 0 !important;
}

